<div class="info-box">
    <div class="box color-red">
        <i class="fas fa-users"></i>
        <h3>{{data?.totalUsers}}</h3>
        <p class="lead">Total Users</p>
    </div>
    <div class="box color-blue"><i class="fas fa-user-shield"></i>
        <h3>{{data?.totalAdmins}}</h3>
        <p class="lead">Total Admins</p>
    </div>
    <div class="box color-orange"><i class="fas fa-route"></i>
        <h3>{{data?.totalTrips}}</h3>
        <p class="lead">Total Trips</p>
    </div>
    <div class="box color-green"><i class="fas fa-users"></i>
        <h3>{{data?.onlineUsers}}</h3>
        <p class="lead">Online Users</p>
    </div>
</div>