<app-error [errorMessage]="(errorMessage$ | async)"></app-error>

<app-loader class="main-view" *ngIf="(isLoading$|async)"></app-loader>

<section class="py-5" id="register-page">
    <div class="container register-page">
        <h1>Register</h1>
        <div class="register">
            <form [formGroup]="form" (ngSubmit)="submitHandler()">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <div class="inline">
                        <input type="text" class="form-control" id="email" placeholder="Enter email"
                            formControlName="email" [class.invalid]="validateField('email')">
                        <div class="error" *ngIf="validateField('email')">* Email is not valid!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="inline">
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            formControlName="password" [class.invalid]="validateField('password')">
                        <div class="error" *ngIf="validateField('password')">* Password should be at least 4
                            characters long!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rePassword">Re-Password</label>
                    <div class="inline">
                        <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password"
                            formControlName="repeatPassword" [class.invalid]="validateField('repeatPassword')">
                        <div class="error" *ngIf="validateField('repeatPassword')">* Passwords don't match!
                        </div>
                    </div>
                </div>
                <label>Gender</label>
                <div class="gender">
                    <input type="radio" id="female" formControlName="gender" value="female">
                    <label for="female">Female</label>
                    <span></span>
                    <input type="radio" id="male" formControlName="gender" value="male">
                    <label for="male">Male</label>
                </div>
                <div class="form-group">
                    <p>Already have account? <a routerLink="/user/login">Login Now!</a></p>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
            </form>
        </div>
    </div>
</section>