<div class="card h-100">
    <img class="card-img-top" [src]="trip?.carImage" alt="car-img">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-route"></i> <span>{{trip?.startPoint}}</span> -
            <span>{{trip?.endPoint}}</span>
        </h5>
        <h5 class="mt-4 card-info"><i class="far fa-calendar-alt"></i>Date: <span>{{trip?.date}}</span>
        </h5>
        <h5 class="mt-4 card-info"><i class="far fa-clock"></i>Time: <span>{{trip?.time}}</span></h5>
        <h5 class="mt-4"><i class="fas fa-hand-holding-usd"></i>Price: <span>{{trip?.price}}</span> BGN</h5>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" [routerLink]="['/trip/detail/',trip?._id]">Details</a>
    </div>
</div>