#offer-trip-page {
    padding: 20px;
}

.container {
    width: 70%;
    padding-bottom: 1rem!important;
}

.offer-trip {
    background: rgb(102 94 94 / 50%);
    padding: 20px;
}

.offer-trip>h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #b3a0a0;
}

.offer-trip form {
    box-shadow: 0px 0px 0px 0px #eb4b19, inset 0px 0px 0px 0px rgb(0 0 0 / 0%);
}

label, .container>h1 {
    color: white;
}

.container form {
    text-align: center;
}

.offer-input {
    display: flex;
    justify-content: space-between;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 20px;
}

i {
    color: #0578B9;
}

input.form-control-2, textarea.form-control, input.form-control {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    filter: invert(1);
}

.form-control-2 {
    text-align: center;
    display: block;
    width: 95%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b3a0a0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea, input {
    background: rgba(0, 0, 0, 0.6);
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.edit textarea.form-control, .offer-trip textarea.form-control {
    width: 100%;
    height: 90px;
}

.form-group textarea {
    resize: none;
}

textarea, textarea.form-control, textarea:disabled {
    padding: 5px 10px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    word-wrap: break-word;
}

.inline {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 0.95rem;
}

input.form-control-2, textarea.form-control {
    border: 1px solid #b3a0a0;
}

input.invalid, textarea.invalid {
    border: 1px solid #eb4b19;
}

button:disabled {
    background: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

.extras {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    color: white;
}

INPUT[type=checkbox]:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox] {
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

INPUT[type=checkbox]:checked {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../assets//static//images/Checkmark.svg.png');
    background-size: 50px;
    border-radius: 2px;
}

input[type="checkbox"]:not(:checked) {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../assets//static//images/not-Checkmark.svg.png');
    background-size: 35px;
    border-radius: 2px;
}

input[type=date]:invalid::-webkit-datetime-edit, input[type=time]:invalid::-webkit-datetime-edit {
    color: gray;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .container>div {
        width: 100%;
        margin-top: 20px;
    }
    .offer-input{
        flex-wrap: wrap;
    }
    .form-control-2 {
        width: 100%;
    }
    
    button {
        margin-top: 1rem;
    }
    .extras {
        margin-top:1rem;
    }
}