.global-error {
    position: fixed;
    right: 10px;
    min-width: 100px;
    display: block;
    z-index: 11111;
    top: 55px;
}

.global-error p {
    background: rgba(204, 55, 55, 0.877);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.global-error {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}