.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.col-lg-4, .col-md-6, .mb-4 {
    position: relative;
    min-height: 1px;
    margin: auto;
}
@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    }
}

